# Environments
.env
.venv
env/
venv/
ENV/

# Node
node_modules/

# Python
__pycache__/
*.py[cod]

# Build
dist/
build/

# Vercel
.vercel

# IDE-specific files
.vscode/
.idea/

# Operating system files
.DS_Store
Thumbs.db